<div id="about-page">
    <p>A site dedicated to the study of neural networks and libraries related to interactions with faces in photos. We have a project on GitHub. This page also contains licenses for the use of various resources. We are actively working on adding new features to the site. We hope you enjoy it.</p>
    <p>GitHub repository: <a href="https://github.com/Danissimo13/Faces">Faces project</a></p>
    <p id="icons-license">Social media icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    <div>
        <p>Contact with us:</p>
        <ul>
            <li>Tel: +8-###-###-##-##</li>
            <li>Address: c.Bryansk, st.Peresveta №3</li>
            <li>Postal code: 241000</li>
        </ul>
    </div>
</div>