<style>
    #request-page{
        display : flex;
        flex-direction : column;
    }

    #request-page h2, #request-page h1{
        margin : 10px;
    }

    #request, #response, #user {
        border: 2px solid var(--violet-color);
        border-radius : var(--medium-round);
        padding : 10px;
        margin-top : 10px;
    }

    #request-images, #response-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        border: 2px solid var(--violet-color);
        border-radius: var(--small-round);
        margin-top : 10px;
    }

    #request-images img, #response-images img{
        display : block;
        width : 250px;
        border-radius : var(--small-round);
        margin : 5px;
    }

    #user-reference{
        padding : 5px;
    }
</style>

<script src="js/request.js"></script>

<div id="request-page">
    <h1 class="text-glow">Face Request</h1>
    <div id="request">
        <h2 class="text-glow">Request data</h2>
        <div>Request id: <span id="request-id"></span></div>
        <div>Request type: <span id="request-type"></span></div>
        <div id="request-images">

        </div>
    </div>
    <div id="response">
        <h2 class="text-glow">Response data</h2>
        <div id="response-images">

        </div>
    </div>
    <div id="user">
        <h2 class="text-glow">Creator account</h2>
        <a id="user-reference" class="default-btn"></a>
    </div>
</div>